<!-- <!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header><h1>顧客管理アプリ</h1></header>
    <section class="container">
      <form method="POST" action="./save">
        <div class="menu">
          <p>メニュー</p>
          <label><input type="radio" name="menu" value="抹茶ラテ">抹茶ラテ
          <label><input type="radio" name="menu" value="ほうじ茶">ほうじ茶
          <label><input type="radio" name="menu" value="水出しコ">水出しコーヒー
          <label><input type="radio" name="menu" value="ブレンド">ブレンドコーヒー
          <label><input type="radio" name="menu" value="プリン">プリン
          <label><input type="radio" name="menu" value="ティラミ">ティラミス
          <label><input type="radio" name="menu" value="マカロン">マカロン
        </div>
        <div class="sex">
          <p>男女</p>
          <label><input type="radio" name="sex" value="男性">男性
          <label><input type="radio" name="sex" value=”女性”>女性
          <label><input type="radio" name="sex" value="その他">その他
        </div>
        <div class="ages">
          <p>年代</p>
          <label><input type="radio" name="ages" value="-20代">-20代
          <label><input type="radio" name="ages" value="30代">30代
          <label><input type="radio" name="ages" value="40代">40代
          <label><input type="radio" name="ages" value="50代">50代
          <label><input type="radio" name="ages" value="60代">60代
          <label><input type="radio" name="ages" value="-80代">-80代
        </div>
        <input type="submit" value="送信">
      </form>
    </section>
  <script src=app.js ></script>
  </body>
</html> -->
